@model EmployeePostDto


<div class="container pt-3">
    <form method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

        @* First Name *@
        <partial name="_FormGroup" model='new FormGroupViewModel
        {
            LabelFor = $"{nameof(Model.FirstName)}",
                 LabelText="First Name" ,
                 InputType="text" ,
                 InputClass="form-control" ,
                 ValidationClass="text text-danger"
                 }' />

        @* Last Name *@

        <partial name="_FormGroup" model='new FormGroupViewModel
        {
                 LabelFor = $"{nameof(Model.LastName)}",
                 LabelText="Last Name" ,
                 InputType="text" ,
                 InputClass="form-control" ,
                 ValidationClass="text text-danger"
                 }' />

        @* Position *@
        <div class="mb-3">
            <label asp-for="@Model.PositionId" class="form-label">Position</label>
            <select asp-for="@Model.PositionId" class="form-select" aria-label="Select employee position">
                <option selected value="0">Choose Position</option>
                @foreach (var position in ViewBag.Positions)
                {
                    <option value="@position.Id">@position.Name</option>
                }

            </select>
            @* <span asp-validation-for="@Model.PositionId" class="@Model.PositionId"></span> *@
        </div>

        @* Image Upload *@
        <partial name="_FormGroup" model='new FormGroupViewModel
        {
            LabelFor = $"{nameof(Model.FormFile)}",
                 LabelText="Image" ,
                 InputType="file" ,
                 InputClass="form-control" ,
                 Accept="image/*" ,
                 ValidationClass="text text-danger"
                 }' />

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
