@model IEnumerable<ProductGetDto>

@functions {
    private string GetProductImageUrl(ProductGetDto item)
    {
        if (item.Images.Count == 0)
        {
            return "default-img.jpg";
        }

        var mainImage = item.Images.FirstOrDefault(i => i.IsMain);
        return mainImage?.Url ?? "default-img.jpg";
    }
}

<div class="container">
    <div class="table-responsive" style="max-height: 600px; overflow-y: auto;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Info</th>
                    <th scope="col">Tags</th>
                    <th scope="col">Categories</th>
                    <th scope="col">Image</th>
                    <th scope="col">Update</th>
                    <th scope="col">Remove</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td>@item.Stock</td>
                        <td>@item.Info</td>
                        <td>@(item.Tags.Count != 0 ? string.Join(", ", item.Tags.Select(c => c.Name).Take(3)) : "No Tags")</td>
                        <td>@(item.Categories.Count != 0 ? string.Join(", ", item.Categories.Select(c => c.Name).Take(3)) : "No Categories")</td>
                        <td>
                            <img src="~/assets/images/product/@GetProductImageUrl(item)" alt="Product image" class="img-thumbnail" style="max-width: 150px; max-height: 150px;" asp-append-version="true" />
                        </td>
                        <td>
                            <a asp-area="admin" asp-controller="Product" asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary">
                                <i class="far fa-pen-to-square"></i>
                            </a>
                        </td>
                        <td>
                            <a asp-area="admin" asp-controller="Product" asp-action="Remove" asp-route-id="@item.Id" class="btn btn-danger" onclick="return confirm('Are you sure?')">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <a asp-area="admin" asp-controller="Product" asp-action="Create" class="btn btn-success">Create Product</a>
</div>
