@model ProductUpdateDto

<div class="container">
    @using (Html.BeginForm("Update", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="mb-3">
            @Html.LabelFor(m => m.Name, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(m => m.Price, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(m => m.Info, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Info, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Info, "", new { @class = "text text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(m => m.CategoryIds, "Categories", new { @class = "form-label" })
            @Html.ListBoxFor(m => m.CategoryIds, new MultiSelectList(ViewBag.Categories, "Id", "Name"), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CategoryIds, "", new { @class = "text text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(m => m.TagIds, "Tags", new { @class = "form-label" })
            @Html.ListBoxFor(m => m.TagIds, new MultiSelectList(ViewBag.Tags, "Id", "Name"), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.TagIds, "", new { @class = "text text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(m => m.DiscountId, "Discount", new { @class = "form-label" })
            @Html.DropDownListFor(m => m.DiscountId, new SelectList(ViewBag.Discounts, "Id", "Name"), "Select Discount", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.DiscountId, "", new { @class = "text text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(m => m.Weight, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Weight, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Weight, "", new { @class = "text text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(m => m.Dimensions, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Dimensions, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Dimensions, "", new { @class = "text text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(m => m.FormFiles, new { @class = "form-label" })
            <input type="file" multiple accept="image/*" class="form-control" name="FormFiles">
            @Html.ValidationMessageFor(m => m.FormFiles, "", new { @class = "text text-danger" })
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    }
</div>
