@model ProductUpdateDto
@{
    ViewBag.Title = "Update Product";
    var Categories = new MultiSelectList(ViewBag.Categories, "Id", "Name");
    var Tags = new MultiSelectList(ViewBag.Tags, "Id", "Name");
    var Discounts = new SelectList(ViewBag.Discounts, "Id", "Percent");
}

<div class="container">
    <form asp-action="Update" asp-controller="Product" asp-antiforgery="true" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="@Model.Name" class="form-label"></label>
            <input asp-for="@Model.Name" class="form-control" />
            <span asp-validation-for="@Model.Name" class="text text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.Price" class="form-label"></label>
            <input asp-for="@Model.Price" class="form-control" />
            <span asp-validation-for="@Model.Price" class="text text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.Info" class="form-label"></label>
            <textarea asp-for="@Model.Info" class="form-control" style="resize:none"></textarea>
            <span asp-validation-for="@Model.Info" class="text text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.CategoryIds" class="form-label">Categories</label>
            <select asp-for="@Model.CategoryIds" asp-items="Categories" class="form-control" multiple></select>
            <span asp-validation-for="@Model.CategoryIds" class="text text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.TagIds" class="form-label">Tags</label>
            <select asp-for="@Model.TagIds" asp-items="Tags" class="form-control" multiple></select>
            <span asp-validation-for="@Model.TagIds" class="text text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.DiscountId" class="form-label">Discount</label>
            <select asp-for="@Model.DiscountId" asp-items="Discounts" class="form-control">
                <option value="">Select Discount</option>
            </select>
            <span asp-validation-for="@Model.DiscountId" class="text text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.Weight" class="form-label"></label>
            <input asp-for="@Model.Weight" class="form-control" />
            <span asp-validation-for="@Model.Weight" class="text text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.Dimensions" class="form-label"></label>
            <input asp-for="@Model.Dimensions" class="form-control" placeholder="format: num1 x num2" />
            <span asp-validation-for="@Model.Dimensions" class="text text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.FormFiles" class="form-label"></label>
            <input asp-for="@Model.FormFiles" type="file" class="form-control" multiple accept="image/*" />
            <span asp-validation-for="@Model.FormFiles" class="text text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
